@mixin fixedAll($position) {
  position: $position;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

@mixin positionMiddle($position) {
  position: $position;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

@mixin positionXMiddle($position) {
  position: $position;
  left: 50%;
  transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}

@mixin transform($transformValue) {
  transform: $transformValue;
  -moz-transform: $transformValue;
  -webkit-transform: $transformValue;
  -o-transform: $transformValue;
}

@mixin flexMiddle {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin textellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@mixin flex-fix() {
  -ms-flex: 1 1 0.000000001px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  -webkit-flex-basis: 0.000000001px;
  flex-basis: 0.000000001px;
  width: 1%;
}

@mixin square($size) {
  width: $size;
  height: $size;
}

@mixin rect($width, $height) {
  width: $width;
  height: $height;
}

@mixin fixSquare($size) {
  width: $size;
  padding-bottom: $size;
}

@mixin vetically($height) {
  height: $height;
  line-height: $height;
}

@mixin backgroundImg($url,$left,$top) {
  background: url($url) $left $top no-repeat;
}